-
    let content=[
        {
            img:"img/icons/icon1.png",
            h3:"Тур на велосипедах",
            price:"335 грн",
            p:"Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.",
            star:false
        },
        {
            img:"img/icons/icon2.png",
            h3:"Екскурсія на острів",
            price:"500 грн",
            p:"Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року .",
            star:true
        },
        {
            img:"img/icons/icon3.png",
            h3:"Особливе замовлення",
            price:"250 грн",
            p:"Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші. ",
            star:true
        }
    ]
mixin printcard(cards)
    for card in cards 
        - let star="clear"
        if (card.star)
            - star="star"
        .card(class=star) 
            img.card-image(src=card.img, alt=card.h3)
            h3.card-header #{card.h3}
            strong.card-price #{card.price}*
            p.card-text #{card.p}
main 
    .wrapper.card-flex
        .card
            p.main-title про нашу <br> компанію
            p.main-text Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
            a.header-button.card-button(href="#") детальніше
            p.copyright * - зверніть увагу, зміна ціни може залежати від курсу долара.
        +printcard (content)
        a.copyright.plan дивитись усі плани
            img(src="img/plan.png", alt="#")
    .wrapper 
        hr.divider
    .wrapper.tailand
        img.tailand-img(src="img/island.png", alt="#")
        .island
            h2.main-title.bottom-line-text.tailland-title Дивовижний безлюдний острів, який зводить людей з розуму
            .sand 
                p.main-text.tailand-text Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можнa побачити на власні очі.
                a.header-button.tailand-button(href="#") замовити тур
                a.header-button.more.tailand-button(href="#") детальніше
            .card.tailand-card
                strong.card-price 575 грн./день
                p.card-text В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії. 
    .surfing 
        .wrapper.card-flex
            .wave
                h2.header-main.surfing-header СПІЙМАЙ ХВИЛЮ <br>
                    span ЖИВИ ЯСКРАВО!
                p.surfing-text Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!
                a.header-button.surfing-button(href="#") детальніше
            .quote
                img.coma(src="img/coma.png", alt="#")
                p.header-text.quote-text  Чудова туристична фірма, що повністю виправдала мої очікування від подорожі. Я був приємно вражений екскурсіями, що для мене підібрали, працюють спражні професіонали своєї справи. 
                p.header-text Олег Набережний
                p.client клієнт
                img(src="img/man.png", alt="#")
            
        