-
    let content=[
        {
            img:"",
            h3:"Тур на велосипедах",
            price:"335 грн",
            p:"Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод."
        },
        {
            img:"",
            h3:"Екскурсія на острів",
            price:"500 грн",
            p:"Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року ."
        },
        {
            img:"",
            h3:"Особливе замовлення",
            price:"250 грн",
            p:"Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші. "
        }
    ]
mixin printcard(cards)
    for card in cards 
        .card 
            img(src=card.img, alt=card.h3)
            h3.card-header #{card.h3}
            strong.card-price #{card.price}
            p.card-text #{card.p}
main 
    .wrapper.card-flex
        .card
            p про нашу компанію
            p Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
            a(href="#") детальніше
            p * - зверніть увагу, зміна ціни може залежати від курсу долара.
        +printcard (content)
    .wrapper
        img(src="#", alt="#")
        h2 Дивовижний безлюдний острів, який зводить людей з розуму
        p Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можнa побачити на власні очі.
        a(href="#") замовити тур
        a(href="#") детальніше
        .card
            strong.card-price 575 грн./день
            p.card-text В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії. 
        